<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Temperature Monitor</title>
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->

        <!-- Init plotting script -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    </head>
    <body>
        
        <h2>Temperature Monitor</h2>

        <div id="temperature-container">
            <p>Temperature: <span id="temperature"></span> at <span id="time"></span></p>
            <h3 id="updated"></h3>
        </div>

        <div id="myDiv" style="width: 800px; height: 400px;">


        <!-- Init socket.io -->
        <script src="/socket.io/socket.io.js"></script>
        <script src="/static/js/app_socket.js"></script>


    </body>
</html>